node_modules/
.idea/
*.iml
.DS_Store
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
.gradle/
**/build/
captures/
.externalNativeBuild/
.cxx/
*.hprof
.capacitor/
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties

